* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
}

#navbar {
  overflow: hidden;
  position: sticky;
  top: -1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #fff;
  z-index: 999;
}

.logolink {
  color: #6070ff;
}

#toolbartitle {
  margin-left: 12px;
}

#hamBtn {
  background: none;
  border: none;
}

.links {
  display: none;
  position: fixed;
  top: -1px;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 32px;
  font-weight: 600;
  padding: 28px;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  overflow: hidden;
  z-index: 9999;
}

#hamBtnClose {
  color: #fff;
  width: 88%;
  display: flex;
  justify-content: flex-end;
}

.links li,
a {
  margin-bottom: 40px;
  color: #fff;
}

.headline {
  height: 86vh;
  padding: 24px;
  border-radius: 0 0 0 90px;
  margin-bottom: 10px;
}

.background {
  background-image: url(imgs/hl-background.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  border-radius: 0 0 0 110px;
}

.headline h1 {
  color: #172b4d;
  font-size: 40px;
  margin-top: 80px;
  padding-right: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 52px;
}

.hl-paragraph {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 20px;
}

.hl-button {
  margin-top: 12px;
  margin-bottom: 14px;
  background: none;
  border: none;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
}

.hl-button:hover {
  margin-top: 12px;
  margin-bottom: 14px;
  background: none;
  border: none;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0);
}

.socialmedia-icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
}

.socialmedia-icons a {
  margin-right: 20px;
}

.works {
  background-color: #e5e5e5;
}

.work-1,
.work-2,
.work-3,
.work-4 {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover {
  filter: drop-shadow(0 10px 10px #bbb);
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

.card-work {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  margin: 24px;
  border: 1px solid #c7c7c7;
  border-radius: 16px;
  height: max-content;
}

.title-card {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.keys-card {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 20px;
}

.keys-card h3 {
  text-transform: uppercase;
  color: #344563;
}

.keys-card .separator {
  margin: 0 12px;
  color: #7a869a;
}

.keys-card h4 {
  font-size: 16px;
  font-weight: 500;
  color: #7a869a;
}

.paragraph-card {
  font-size: 15px;
  color: #344563;
  margin-right: 5px;
  margin-bottom: 12px;
}

.tags-card {
  display: flex;
  flex-direction: row;
}

.tag {
  padding: 4px 12px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
}

button {
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  padding: 12px;
  background: none;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: white;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.button-card {
  margin: 26px 0;
}

.about {
  background-color: #fff;
  border-radius: 0 110px 0 0;
  height: max-content;
  padding: 24px;
}

.about h2 {
  padding-top: 20px;
  margin-right: 110px;
  color: #172b4d;
  font-size: 40px;
  margin-top: 80px;
  padding-right: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 52px;
}

.about-button {
  margin: 24px 0;
}

.languages h3,
.frameworks h3,
.skills h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

#lang-click,
#frameworks-click,
#skills-click {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#lang-menu,
#framework-menu,
#skill-menu {
  display: none;
}

.lang,
.framework,
.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  padding: 9px 12px;
  border-radius: 8px;
  margin: 12px 0;
}

.lang h3,
.framework h3,
.skill h3 {
  font-weight: 500;
  margin-left: 16px;
  color: #253858;
}

.visible {
  display: block !important;
  opacity: 0%;
  transition: all 0.4s ease-in-out;
}

.showed {
  opacity: 100%;
}

.dropdown-separator {
  display: flex;
  align-items: center;
  margin: 23px 0;
  background-color: #dfe1e6;
  height: 1px;
  width: 100%;
  border: none;
}
