* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
}

ul {
  list-style-type: none;
}

#navbar {
  overflow: hidden;
  position: sticky;
  top: -1px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #fff;
  z-index: 999;
}

.logolink {
  color: #6070ff;
}

#toolbartitle {
  margin-left: 12px;
}

#hamBtn {
  background: none;
  border: none;
}

.links {
  display: none;
  position: fixed;
  top: -1px;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-size: 32px;
  font-weight: 600;
  padding: 28px;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  overflow: hidden;
  z-index: 9999;
}

#hamBtnClose {
  color: #fff;
  width: 88%;
  display: flex;
  justify-content: flex-end;
}

.links li,
a {
  margin-bottom: 40px;
  color: #fff;
}

.headline {
  height: 86vh;
  padding: 24px;
  border-radius: 0 0 0 90px;
  margin-bottom: 10px;
}

.background {
  background-image: url(imgs/hl-background.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  border-radius: 0 0 0 110px;
}

.headline h1 {
  color: #172b4d;
  font-size: 40px;
  margin-top: 80px;
  padding-right: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 52px;
}

.hl-paragraph {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 20px;
}

.hl-button {
  margin-top: 12px;
  margin-bottom: 14px;
  background: none;
  border: none;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
}

.hl-button:hover {
  margin-top: 12px;
  margin-bottom: 14px;
  background: none;
  border: none;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0);
}

.socialmedia-icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
}

.socialmedia-icons a {
  margin-right: 20px;
}

.works {
  background-color: #e5e5e5;
}

.work-1,
.work-2,
.work-3,
.work-4 {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}

.work-1:hover,
.work-2:hover,
.work-3:hover,
.work-4:hover {
  filter: drop-shadow(0 10px 10px #bbb);
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

.card-work {
  background-color: #fff;
  padding: 16px;
  width: 100%;
  margin: 24px;
  border: 1px solid #c7c7c7;
  border-radius: 16px;
  height: max-content;
}

.title-card {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.keys-card {
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 20px;
}

.keys-card h3 {
  text-transform: uppercase;
  color: #344563;
}

.keys-card .separator {
  margin: 0 12px;
  color: #7a869a;
}

.keys-card h4 {
  font-size: 16px;
  font-weight: 500;
  color: #7a869a;
}

.paragraph-card {
  font-size: 15px;
  color: #344563;
  margin-right: 5px;
  margin-bottom: 12px;
}

.tags-card {
  display: flex;
  flex-direction: row;
}

.tag {
  padding: 4px 12px;
  color: #6070ff;
  background-color: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
}

button {
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  padding: 12px;
  background: none;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: white;
  background-color: #2230d2;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.button-card {
  margin: 26px 0;
}

.about {
  background-color: #fff;
  border-radius: 0 110px 0 0;
  height: max-content;
  padding: 24px;
}

.about h2 {
  padding-top: 20px;
  margin-right: 110px;
  color: #172b4d;
  font-size: 40px;
  margin-top: 80px;
  padding-right: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 52px;
}

.about-button {
  margin: 24px 0;
}

.languages h3,
.frameworks h3,
.skills h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

#lang-click,
#frameworks-click,
#skills-click {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#lang-menu,
#framework-menu,
#skill-menu {
  display: none;
}

.lang,
.framework,
.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f9;
  padding: 9px 12px;
  border-radius: 8px;
  margin: 12px 0;
}

.lang h3,
.framework h3,
.skill h3 {
  font-weight: 500;
  margin-left: 16px;
  color: #253858;
}

.visible {
  display: block !important;
  opacity: 0%;
  transition: all 0.4s ease-in-out;
}

.showed {
  opacity: 100%;
}

.dropdown-separator {
  display: flex;
  align-items: center;
  margin: 23px 0;
  background-color: #dfe1e6;
  height: 1px;
  width: 100%;
  border: none;
}

.cf-background {
  background-image: url(imgs/hl-background.svg);
  background-color: #4859f7;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 90px 0 0 0;
  height: 100%;
}

#contactme {
  border-radius: 90px 0 0 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
  text-align: center;
  align-items: center;
}

#contactme h2 {
  color: #fff;
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 12px;
}

#contactme p {
  color: #fff;
  margin: 0 10px 40px 10px;
  font-size: 20px;
  font-weight: normal;
}

#contactme form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form input,
#message-area {
  border: 0;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#contactme button {
  background-color: #fff;
  width: fit-content;
}

#contactme button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 992px) {
  #navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #fff;
  }

  .links {
    display: block;
    background: none;
    backdrop-filter: blur(0);
    padding: 0;
    mix-blend-mode: normal;
    overflow: visible;
    width: 100%;
    height: 0;
  }

  #hamBtn {
    display: none;
  }

  #hamBtnClose {
    display: none;
  }

  .links li {
    margin: 0 30px;
  }

  #toolbar {
    margin-left: 155px;
  }

  .nav__links {
    margin-top: 20px;
    padding-right: 155px;
    display: flex;
    justify-content: flex-end;
  }

  .nav__links a {
    color: #344563;
    font-size: 15px;
    font-weight: 500;
  }

  .background {
    background-image: url(imgs/mobile-background.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 100%;
    border-radius: 0 0 0 110px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding: 150px 260px 0 260px;
  }

  .headline h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .headline p {
    padding-right: 350px;
  }

  .hl-paragraph {
    padding-right: 110px;
    font-size: 20px;
    font-weight: 300;
  }

  .hl-button {
    width: fit-content;
  }

  .work-1 {
    margin-top: 100px;
  }

  #portfoliosection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-work {
    display: flex;
    width: 1170px;
    height: 445px;
  }

  .work-1,
  .work-2,
  .work-3,
  .work-4 {
    width: auto;
  }

  .card-work:hover {
    cursor: pointer;
  }

  .img-card {
    width: 60%;
    display: flex;
  }

  .img-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about-project {
    margin: 0 0 0 46px;
    flex-direction: column;
  }

  .about-project p {
    margin-bottom: 24px;
  }

  .tag {
    margin-bottom: 0;
  }

  .about {
    display: flex;
    flex-direction: row;
    padding: 142px 142px;
  }

  .about-content {
    width: 40%;
    margin-left: 160px;
  }

  .about h2 {
    margin-top: 0;
    padding-top: 0;
  }

  .dropdowns {
    width: 40%;
  }

  .visible {
    display: flex !important;
  }

  .lang-menu {
    flex-direction: row;
  }

  .lang,
  .framework,
  .skill {
    flex-direction: column;
    align-items: flex-start;
    width: 120px;
    margin: 12px;
  }

  .lang img,
  .framework img,
  .skill img {
    margin-bottom: 16px;
  }

  .lang h3,
  .framework h3,
  .skill h3 {
    margin: 0;
    margin-bottom: 20px;
  }

  .cf-background {
    background-image: url(imgs/cf-bg-mb.svg);
    background-color: #4859f7;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 90px 0 0 0;
    height: 100%;
  }

  #contactme {
    justify-content: center;
    align-items: center;
    margin: 0 436px;
  }

  #contactme form {
    align-items: center;
    width: 70%;
  }

  form input,
  textarea {
    width: 100%;
  }
}
